<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Computing</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles-merged.css">
    <link rel="stylesheet" href="static/css/style.min.css">
    <link rel="stylesheet" href="static/css/custom.css">

  </head>
  <body>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo">Connect</a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/metrics" id="metricsLink">Metrics</a></li>
          </ul>
        </nav>
    </div>
  </header>

  <p hidden id="myBtn">.</p>
  <div class="probootstrap-main">

    <section class="probootstrap-section">
      <div class="container">
        <div class="row mb70 probootstrap-animate" data-animate-effect="fadeIn">
          <div class="col-md-6">
            <h2>Total requests</h2>
            <p id="totalRequests">.</p>
          </div>
          <div class="col-md-6">
            <h2>Successful requests</h2>
            <p id="successfulRequests">.</p>
          </div>
          <div class="col-md-6">
            <h2>Success rate</h2>
            <p id="successRate">.</p>
          </div>
          <div class="col-md-6">
            <h2>Avg latency</h2>
            <p id="latency">.</p>
          </div>
        </div>


      </div>
    </section>
  </div>

  <script src="static/js/scripts.min.js"></script>
  <script src="static/js/main.min.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/index.js"></script>

  </body>
</html>