<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Computing</title>
    <link rel="stylesheet" href="static/css/styles-merged.css">
    <link rel="stylesheet" href="static/css/style.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
  </head>
  <body>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo">Cloud Computing</a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/metrics" id="metricsLink">Metrics</a></li>
          </ul>
        </nav>
    </div>
  </header>

  <div class="probootstrap-main">

    <section class="probootstrap-section-half">
      <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(static/img/image_1.jpg)" id="jokeImg"></div>
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">
          <h1 class="heading" id="header1"></h1>
          <p id="para1"></p>
          <p><button class="btn btn-primary" id="myBtn">Request a joke</button></p>
        </div>
      </div>
    </section>
  </div>

  <script src="static/js/scripts.min.js"></script>
  <script src="static/js/main.min.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/index.js"></script>

  </body>
</html>